#container {
  width: 300px;
}
#content {
  min-height: 450px;
  padding: 0px;
}
/*
 * This is needed because of this bug:
 * https://github.com/Semantic-Org/Semantic-UI/issues/4248
 */
.ui.attached.menu {
  width: calc(100% + 1px);
}
